.FeatureCard {
  
    width: 250px;
    height: auto;
    border-radius: 15px;
    border: solid 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
  
  .FeatureCard::before {
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: -40%;
    left: -20%;
    border-radius: 50%;
    border: 35px solid rgba(255, 255, 255, 0.102);
    transition: all .8s ease;
    filter: blur(.5rem);
  }
  
  .FeatureText {
    flex-grow: 2;
    padding: 45px 25px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    
    font-size: 1rem;
  }
  
  .subtitle {
    font-size: 0.7rem;
    
    color: rgba(0, 0, 0, 0.691);
  }
  
  

  .svg-icon {
    width: 25px;
    height: 25px;
    stroke: rgb(38, 59, 126);
  }
  

  
  .FeatureCard:hover::before {
    width: 140px;
    height: 140px;
    top: -30%;
    left: 50%;
    filter: blur(0rem);
  }